/* mixins, variables, etc. */
.Box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
html,
body {
  margin: 0;
  padding: 0;
  color: #5e5e5e;
}
html * {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
.aqua {
  color: #00b1ac !important;
}
.red {
  color: #f05169 !important;
}
.container-fluid {
  padding: 0 !important;
}
header {
  padding-top: 0;
  margin-top: 0;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
a {
  color: #00b1ac;
}
a:hover {
  color: #039b96;
  text-decoration: none;
}
a:focus {
  color: #039b96;
  outline: none !important;
}
.btn-seminario-aqua {
  color: #ffffff;
  background-color: #00B1AC;
  border-color: #00B1AC;
}
.btn-seminario-aqua:hover,
.btn-seminario-aqua:focus,
.btn-seminario-aqua:active,
.btn-seminario-aqua.active,
.open .dropdown-toggle.btn-seminario-aqua {
  color: #ffffff;
  background-color: #00A6A0;
  border-color: #00B1AC;
}
.btn-seminario-aqua:active,
.btn-seminario-aqua.active,
.open .dropdown-toggle.btn-seminario-aqua {
  background-image: none;
}
.btn-seminario-aqua.disabled,
.btn-seminario-aqua[disabled],
fieldset[disabled] .btn-seminario-aqua,
.btn-seminario-aqua.disabled:hover,
.btn-seminario-aqua[disabled]:hover,
fieldset[disabled] .btn-seminario-aqua:hover,
.btn-seminario-aqua.disabled:focus,
.btn-seminario-aqua[disabled]:focus,
fieldset[disabled] .btn-seminario-aqua:focus,
.btn-seminario-aqua.disabled:active,
.btn-seminario-aqua[disabled]:active,
fieldset[disabled] .btn-seminario-aqua:active,
.btn-seminario-aqua.disabled.active,
.btn-seminario-aqua[disabled].active,
fieldset[disabled] .btn-seminario-aqua.active {
  background-color: #00B1AC;
  border-color: #00B1AC;
}
.btn-seminario-aqua .badge {
  color: #00B1AC;
  background-color: #ffffff;
}
/* button custom: 177, 88, 39, 5*/
.btn-custom {
  background-color: #0aa39b !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dd2c9", endColorstr="#0aa29b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0dd2c9), to(#0aa29b));
  background-image: -moz-linear-gradient(top, #0dd2c9, #0aa29b);
  background-image: -ms-linear-gradient(top, #0dd2c9, #0aa29b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0dd2c9), color-stop(100%, #0aa29b));
  background-image: -webkit-linear-gradient(top, #0dd2c9, #0aa29b);
  background-image: -o-linear-gradient(top, #0dd2c9, #0aa29b);
  background-image: linear-gradient(#0dd2c9, #0aa29b);
  border-color: #0aa29b #0aa29b #0a9790;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 768px) {
  ul.breadcrumb {
    display: none;
  }
}
/* TEXT MODES */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.block {
  display: block;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.right {
  text-align: right;
}
.invisible {
  display: none !important;
}
/* MARGIN & PADDING CLASSES*/
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}
/* header */
@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
}
a.navbar-brand {
  padding: 10px;
  margin-left: 15px;
}
img.logo-seminario {
  max-height: 30px;
}
#logo-placeholder {
  background-color: #4b4f54;
  display: block;
  overflow: hidden;
}
#logo-placeholder > .container {
  position: relative;
}
#logo-placeholder > .container ul {
  list-style-type: none;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 0;
}
@media (max-width: 1023px) {
  #logo-placeholder > .container ul {
    display: none;
  }
}
#logo-placeholder #logo-seminario {
  max-width: 65%;
  padding: 2.5%;
  float: left;
}
@media (max-width: 1023px) {
  #logo-placeholder #logo-seminario {
    display: block;
    margin: 0 auto;
    float: none;
  }
}
#logo-placeholder #logo {
  max-width: 25%;
  padding: 2.5%;
  float: right;
}
@media (max-width: 767px) {
  #logo-placeholder {
    display: none;
  }
}
#navbar-primary.navbar-default {
  background: rgba(191, 191, 191, 0.12);
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  color: #5e5e5e;
  font-size: 1.25em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
}
#navbar-primary.navbar-default .navbar-nav > li.active > a {
  font-weight: bold;
  background: transparent;
  border-bottom: 3px solid #5e5e5e;
  box-shadow: none;
}
@media (max-width: 767px) {
  #navbar-primary.navbar-default .navbar-nav {
    margin: 0 auto;
  }
  #navbar-primary.navbar-default .navbar-nav > li {
    display: block;
  }
}
footer {
  padding: 20px;
  background-color: #4b4f54;
  color: white;
  text-align: center;
  font-size: 1.25em;
}
footer a {
  color: white;
}
/* HOME */
.jumbotron {
  /*background-color: #e5e5e5;
    border-radius: 0 !important;*/
  background: rgba(191, 191, 191, 0.12);
  border-radius: 10px !important;
  color: #5e5e5e !important;
  text-align: center;
  overflow-y: hidden;
  height: 325px;
}
.jumbotron .big-text img {
  width: 15%;
}
.jumbotron h1 {
  font-size: 2.5em;
  font-weight: 400;
}
@media (max-width: 767px) {
  .jumbotron {
    height: auto;
  }
}
.letter-intro h2 {
  font-size: 1em;
  line-height: 0.25em;
}
.letter {
  padding-bottom: 50px;
}
.letter-content h3 {
  font-size: 1.5em;
  line-height: 2.5em;
}
.letter-content p {
  line-height: 1.75em;
  font-size: 1.25em;
}
/* PROGRAMA */
.programa-seminario {
  padding-bottom: 50px;
}
.programa-seminario p {
  margin: 0;
  font-size: 1em;
}
.programa-seminario .programa-header .program-time {
  position: relative;
}
@media (min-width: 769px) {
  .programa-seminario .programa-header .program-time {
    min-height: 40px;
  }
}
.programa-seminario .programa-header .program-time p {
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 769px) {
  .programa-seminario .programa-header .program-time p {
    position: relative;
  }
}
.programa-seminario .programa-subtitle {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .programa-seminario .programa-subtitle {
    text-align: center;
  }
  .programa-seminario .programa-subtitle h1 {
    margin-bottom: 10px;
  }
}
.programa-seminario ul.lista-ponentes {
  border-top: 1px solid white;
  margin-top: 5px;
  padding-top: 5px;
}
.programa-seminario ul.lista-ponentes li .ponente-name {
  font-weight: bold;
}
@media (max-width: 1023px) {
  .programa-seminario .program-event {
    text-align: center;
  }
  .programa-seminario .program-event h1 {
    margin-bottom: 10px;
  }
}
.green-background {
  background: #00b1ac;
  color: white;
  font-weight: bold;
}
@media (min-width: 769px) {
  .green-background.program-time {
    border-right: 1px solid white;
  }
}
.green-background.program-time > p {
  font-weight: bold;
}
.light-gray-background {
  background: rgba(191, 191, 191, 0.12);
}
/* PONENTES OVERALL*/
.thumb {
  overflow: hidden;
  margin-bottom: 30px;
}
.thumb h3 {
  text-align: center;
  font-size: 1em;
}
.thumb p {
  text-align: center;
  font-size: 0.8em;
}
.thumb a {
  color: #5e5e5e;
}
.thumb a:hover {
  color: #00b1ac;
  text-decoration: none;
}
.thumb a.thumbnail:hover {
  border-color: #00b1ac;
}
.thumb a img {
  width: 400px;
}
/*  PONENTES DETAIL */
#ponente {
  margin: 50px 0px;
}
@media (max-width: 767px) {
  #ponente {
    margin: 0;
  }
}
#ponente a.btn {
  display: block;
  margin-bottom: 25px;
  clear: both;
}
@media (min-width: 767px) {
  #ponente a.btn {
    display: none;
  }
}
.member {
  margin-bottom: 50px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #ffffff;
  padding: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
  -moz-box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
}
.member h2 {
  text-align: center;
  margin-top: 25px;
  font-size: 1.5em;
  text-transform: uppercase;
}
.member .member-role {
  color: #bfbfbf;
  font-size: 11px;
  margin-bottom: 10px;
}
.member p {
  margin: 0;
}
.member-img {
  margin: -25px -25px 15px -25px;
}
.member-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* DIRECCIONES */
#map {
  width: 100%;
  height: 400px;
  border: none;
}
.accordion {
  margin-top: 50px;
  margin-bottom: 100px;
}
.accordion .accordion-title {
  border: 1px solid #ddd;
  display: block;
  background-image: linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  font-weight: 600;
  margin-bottom: 10px;
}
.accordion .accordion-title h2 {
  margin: 0;
}
.accordion .accordion-title a {
  display: block;
  padding: 10px 15px 10px 15px;
  background: url("../../../../img/accordion-open.png") no-repeat right center;
  text-decoration: none;
  font-size: 0.65em;
  color: #999999 !important;
}
.accordion .accordion-title a i {
  margin: 0px 8px 0 0px;
  opacity: 0.4;
}
.accordion .accordion-title.active a {
  color: #444444 !important;
  background: url("../../../../img/accordion-close.png") no-repeat right center;
}
.accordion .accordion-title.active a i {
  opacity: 0.95;
}
.accordion .accordion-inner {
  padding: 2px 12px 14px 12px;
  display: none;
}
.accordion .accordion-inner div {
  max-width: 100%;
}
.accordion .accordion-inner div h3 {
  font-size: 1em;
}
@media (max-width: 767px) {
  .accordion .accordion-inner div h3 {
    text-align: center;
  }
}
.accordion .accordion-inner div img {
  max-width: 100%;
  margin: 25px;
}
@media (max-width: 767px) {
  .accordion .accordion-inner div img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
}
.accordion .accordion-inner.default {
  display: block;
}
/* PREMIO */
.row#premio {
  padding-bottom: 50px;
}
.row#premio img {
  max-width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* CONDICIONES */
.condiciones {
  font-size: 1.25em;
}
.condiciones a:hover {
  color: #ddd;
  text-decoration: none;
}
.condiciones a:focus {
  color: #ddd;
  outline: none !important;
}
@media (max-width: 1023px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
    visibility: hidden!important;
    height: 0px!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
    width: 100%;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.in {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
