/* mixins, variables, etc. */

@gray-main: #5e5e5e;
@gray-dark: #4b4f54;
@img-url: '../../../../img/';

.Box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html, body{
  margin: 0; 
  padding: 0; 
  color: @gray-main;
}
html *{
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important; 
}

.container-fluid, .container{
  padding: 0 !important;
}
header{
  padding-top: 0;
  margin-top: 0; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* TEXT MODES */
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.block{
  display: block;
}

.center{
  text-align: center;
}

.invisible{
  display: none !important;
}

/* header */

 #logo-placeholder{
    background-color: @gray-dark;
    display: block;
    overflow: hidden;

    #logo-seminario {
      max-width: 65%; 
      padding: 2.5%; 
      float: left;
    }

    #logo{
      max-width: 25%; 
      padding: 2.5%;
      float: right;
    }

  }


  #navbar-primary.navbar-default {
    background: #efefef;
    border: none;
   
  } 
    #navbar-primary.navbar-default .navbar-nav { 
        width: 100%;
        text-align: center;
        > li {
        display: inline-block;
        float: none;
          > a {
          color: @gray-dark;
          font-size: 1.25em;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 18px;
        }
        &.active > a{
          font-weight: bold;
          background: transparent;
          border-bottom: 3px solid @gray-dark;
          box-shadow: none;
        }         
      }
    }
  @media(max-width: 767px){
    #navbar-primary.navbar-default .navbar-nav { 
        margin: 0 auto;
        > li {
            display: block;
        }
    }
  }
  footer{
    padding: 20px;
    background-color: @gray-dark;
    color: white;
    text-align: center;
    font-size: 1.25em;
    p{

    }
    a{
      color: white;
    }  
  }

    /* HOME */
  .jumbotron{
    background-color: #e5e5e5;
    border-radius: 0 !important;
    text-align: center;
    overflow-y: hidden;
    height: 325px;
    .big-text{
      img{
        width: 15%;
      }      
    }
    h1{
      font-size: 2.5em;
      font-weight: 400;
    }
  }

@media(max-width: 767px){
  .jumbotron{
    height: auto;
  }
}
  .letter-intro h2{
    font-size: 1em;
    line-height: 0.25em;

  }

  .letter{
    padding-bottom: 50px;
  }

  .letter-content{
    h3{
      font-size: 1.35em;
      line-height: 2.5em;
    }

    p{
      line-height: 1.75em;
      font-size: 1.25em;
    }    
  }
    /* PONENTES OVERALL*/
    ul#ponentes-list{
      list-style-type: none;
      padding: 0;
      margin: 50px 0 50px 12.5%;      
        li{
          margin-bottom: 15px;
          font-size: 1.25em;
          padding-left: 35px;
          font-style: italic;

            &.ponente-name{
              background: url('@{img-url}bullet.png') no-repeat left center;
              background-size: 20px 10px;
              height: 25px;
              padding-left: 30px;
              padding-top: 0px;  
              font-style: normal;        
            }
        }
    }

    /*  PONENTES DETAIL */
#ponente{
  margin: 50px 0px;
}
.member{
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #ffffff;
  padding:25px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
  -webkit-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);
     -moz-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);
          box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);
}
.member-img img{
  width: 100%;
  max-width: 100%;
  height:auto;
}
.member-img {
  margin:-25px -25px 15px -25px;
}
.member h2{
  text-align: center;
  text-transform: uppercase;
  margin:0;
  padding:0;
}
.member .member-role{
  color:#bfbfbf;
  font-size:11px;
  margin-bottom:10px;
}
.member p{
  margin:0;
}

    .profile{
      border: 1px solid #ddd;
      text-align: center;
      padding: 10px;
      border-radius: 3px;
      box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);   
      -webkit-box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
      -moz-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);
      .profile-pic{
        max-width: 100%;
      }
    }

    .caption{
      border-top: 1px solid #ddd;
      h1{
        text-transform: uppercase;
        font-size: 1em;
      }
      h2{
        font-size: 0.8em;
        color: #bfbfbf;
      }
    }
    /* DIRECCIONES */
    #map{
      width: 100%;
      height: 400px;
    }
    .accordion{
      .accordion-title{
        border: 1px solid #ddd;
        display: block;
        background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
        background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
        background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
        background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
        background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
        background-color: #F9F9F9;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
            border-radius: 3px;
        -webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
             -moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
                  box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
        font-weight:600;
        margin-bottom:10px;

          h2{
            margin: 0;
          }

          a{
            display:block;
            padding:10px 15px 10px 15px;
            background: url("@{img-url}accordion-open.png") no-repeat right center;
            text-decoration: none;
            font-size: 0.5em;
            color:#999999 !important;

              i{
                margin:0px 8px 0 0px;
                opacity: 0.4;
              } 

          }
          &.active{
            a{
              color:#444444 !important;
              background: url("@{img-url}accordion-close.png") no-repeat right center;
                i{
                  opacity: 0.95;
                } 
            }
          }  
      }
      .accordion-inner{
        padding:2px 12px 14px 12px;
        display: none;
          div{
            max-width: 100%;
              h3{
                font-size: 1em;
              }
          } 

          &.default{
            display: block;
          }           
      }      
    }

    /* CONDICIONES */
  .condiciones{
    font-size: 1.25em;
    h2{

    }
    h3{

    }
    p{

    } 
  }
